$light-gray: #ecf0f1; 
$white: #ffffff; 
* { padding: 0; margin: 0;}


body {
	.about-container {
		/*border: 1px solid red; */
		background-color: $light-gray;
		height: auto; 
		padding-top: 90px;
		.intro {
			margin-top: 40px; 
			margin-left: 260px; 
			padding-bottom: 30px; 
		}
		img {
			border-radius: 50%; 
			display: block;
			margin: 0 auto; 
		}
	}
	.projects-container {
		h1 {
			margin: 15px; 
			text-align: center;
		}
		height: 700px; 
		background-color: $white;
	}
	.contact-container {
		height: 600px; 
		background-color: $light-gray;
	}
}


