$light-gray: #ecf0f1;
$white: #ffffff;
$break-small: 700px;
$blue: #2c3e50;
* { padding: 0; margin: 0; }

body {
	font-family: 'Catamaran', sans-serif;
	background-color: $light-gray;
	.nav-blue {
		background-color: $blue !important;
	}
	.about-container {
		background-color: $light-gray;
		height: 350px;
		padding-top: 120px;
		background-image: url("../img/code-bg.png");
		.intro {
			// need to make responsive for mobile 
			width: 750px;
			margin: 0 auto;
			padding-bottom: 20px;
			color: white;
			font-size: 200%;
			@media screen and (max-width: $break-small) {
				width: 100%;
			}
		}
	}
	.heading-intro {
		margin: 25px auto 0 auto; 
		text-align: center; 
	}
	.projects-container {
		width: 100%;
		background-color: $light-gray;
		padding: 50px 180px;
		text-align: center;
	.projects {
		display: flex;
		flex-flow: row wrap;
		justify-content: space-around;
		width: 100%;
		margin: 0 auto;
			.project {
				/* entire container, keeps perspective */
				.flip-container {
					-webkit-perspective: 1000;
    				-moz-perspective: 1000;
    				-o-perspective: 1000;
    				perspective: 1000;
				}
				/* flip the pane when hovered */
				.flip-container:hover .flipper, .flip-container.hover .flipper {
					-webkit-transform: rotateY(180deg);
    				-moz-transform: rotateY(180deg);
    				-o-transform: rotateY(180deg);
    				-ms-transform: rotateY(180deg);
    				transform: rotateY(180deg);
				}
				.flip-container, .front, .back {
					width: 400px;
					height: 280px;
				}
				/* flip speed goes here */
				.flipper {
					transition: 0.6s;
					transform-style: preserve-3d;
					position: relative;
				}
				/* hide back of pane during swap */
				.front, .back {
					-webkit-backface-visibility: hidden;
    				-moz-backface-visibility: hidden;
    				-o-backface-visibility: hidden;
    				backface-visibility: hidden;
					position: absolute;
					top: 0;
					left: 0;
					img {
						border: 1px solid #bdc3c7;
					}
				}
				/* front pane, placed above back */
				.front {
					z-index: 2;
					/* for firefox 31 */
					transform: rotateY(0deg);
				}
				/* back, initially hidden pane */
				.back {
					transform: rotateY(180deg);
					background-color: white;
					padding: 20px;
					button {
						background-color: $blue;
						border: none;
						color: $white;
						border-radius: 20px;
						width: 150px;
						height: 45px;
						line-height: 50px;
					}
					button:hover {
						background-color: #34495e;
						transition-duration: 0.4s;
						cursor: pointer;
					}
				}
			}
		}
	}
	.section {
		background-color: white;
		text-align: center;
		padding-top: 70px; 
		padding-bottom: 50px;
		.sizedIcons {
			font-size: 450%;
			speak: none;
			font-style: normal;
			font-weight: 400;
			font-variant: normal;
			text-transform: none;
			line-height: 1;
			-webkit-font-smoothing: antialiased;
			-moz-osx-font-smoothing: grayscale;
		}
	}
	.contact-container {
		height: auto;
		background-color: white;
		padding-top: 25px; 
		h2 {
			text-align: center;
		}
		.footer-icons {
			text-align: center;
			margin-top: 30px;
			margin-bottom: 60px;
		}
		.fa-envelope-o {
			color: $blue; 
		}
		.fa-linkedin {
			color: #0077B5; 
		}
		.fa-github {
			color: black;
		}

	}
}
