$light-gray: #ecf0f1;
$white: #ffffff;
$break-small: 700px;
$blue: #2c3e50;
* { padding: 0; margin: 0; }

body {

	font-family: 'Catamaran', sans-serif;
	background-color: $light-gray;
	.nav-blue {
		background-color: $blue !important;
	}
	.about-container {
		background-color: $light-gray;
		height: 340px;
		padding-top: 90px;
		background-image: url("../img/code-bg.png");
		font-family: 'Source Code Pro', monospace;
		.intro {
			width: 750px;
			margin: 0 auto;
			padding-bottom: 20px;
			font-family: 'Source Code Pro', monospace;
			color: white;
			font-size: 200%;


			@media screen and (max-width: $break-small) {
				width: 100%;
			}
		}
		img {
			// border-radius: 50%;
			// border: 7px solid #2d3f50;
			// display: block;
			// margin: 0 auto;
		}
	}
	.projects-container {
	width: 100%;
	background-color: $light-gray;
	padding: 0 200px;
	text-align: center;
	// font-family: 'Monoton', cursive;
	// background-image: url("../img/code-bg.png");
	h2 {
		margin-top: 20px;
	}
	.projects {
		display: flex;
		flex-flow: row wrap;
		justify-content: space-around;
		width: 100%;
		margin: 0 auto;
			.project {
				/* entire container, keeps perspective */
				.flip-container {
					-webkit-perspective: 1000;
    				-moz-perspective: 1000;
    				-o-perspective: 1000;
    				perspective: 1000;
				}
				/* flip the pane when hovered */
				.flip-container:hover .flipper, .flip-container.hover .flipper {
					-webkit-transform: rotateY(180deg);
    				-moz-transform: rotateY(180deg);
    				-o-transform: rotateY(180deg);
    				-ms-transform: rotateY(180deg);
    				transform: rotateY(180deg);
				}
				.flip-container, .front, .back {
					width: 400px;
					height: 280px;
				}
				/* flip speed goes here */
				.flipper {
					transition: 0.6s;
					transform-style: preserve-3d;
					position: relative;
				}
				/* hide back of pane during swap */
				.front, .back {
					-webkit-backface-visibility: hidden;
    				-moz-backface-visibility: hidden;
    				-o-backface-visibility: hidden;
    				backface-visibility: hidden;
					position: absolute;
					top: 0;
					left: 0;
					img {
						border: 1px solid #bdc3c7;
					}
				}
				/* front pane, placed above back */
				.front {
					z-index: 2;
					/* for firefox 31 */
					transform: rotateY(0deg);
				}
				/* back, initially hidden pane */
				.back {
					transform: rotateY(180deg);
					background-color: white;
					padding: 20px;
					button {
						background-color: $blue;
						border: none;
						color: $white;
						border-radius: 20px;
						width: 150px;
						height: 45px;
						line-height: 50px;
					}
					button:hover {
						background-color: #34495e;
						transition-duration: 0.4s;
						cursor: pointer;
					}
					.goLive {

						img {
							border: none;
						}
					}
				}
			}
		}
	}
	.skills {
		height: auto;
		background-color: white;
		text-align: center;
		padding-bottom: 20px;
		padding-top: 20px;
		.space {
			margin-bottom: 50px;
		}
		.move-up {
			margin-top: 50px;
		}

	}
	.contact-container {
		height: auto;
		padding-top: 2px;
		background-color: white;

		h2 {
		text-align: center;
		margin-bottom: 5px;
		}
		h5 {
			text-align: center;
			margin-bottom: 60px;
		}
		button {
			border-radius: 20px;
			background-color: $blue;
			color: white;
		}
		button:hover {
				background-color: #34495e;
				cursor: pointer;
			}
		small {
			color: red;
		}
		/*.footer-name {
			text-align: center;
			margin-top: 10px;
			small {
				color: $blue;
			}
		}*/
		.footer-icons {
			text-align: center;
			margin-top: 50px;
			margin-bottom: 30px;
		}
		.fa-twitter-square {
			color: #1DA1F2;
		}
		.fa-instagram {
			color: #e95950;
		}
		.fa-linkedin-square {
			color: #0077B5;
		}
		.fa-github-square {
			color: black;
		}

	}
	.footer-blue {
		background-color: $blue !important;
	}
}
// h2 {
// 	font-family: 'Monoton', cursive;
// }
// .new-font {
// 	font-family: 'Monoton', cursive;
// }
.more-space {
	margin-top: -8px;
	margin-bottom: 40px;
}
.bob {
	// font-family: devicons;

	font-size: 500%;
	// speak: none;
	// font-style: normal;
	// font-weight: 400;
	// font-variant: normal;
	// text-transform: none;
	// line-height: 1;
	// -webkit-font-smoothing: antialiased;
	// -moz-osx-font-smoothing: grayscale;
}
form {
	background-color: $light-gray;
	padding: 10px;
	border-radius: 10px;
	// border: 1px solid $blue;

}
