/* ====================== About Page ================*/
body {
	overflow: scroll;
}
.daniel {
	box-shadow: 3px 3px 3px gray;
	border-radius: 50%;
	margin: 0;
}
.picture-box {
	width: 260px;
}
.about-me {
	width: 600px; 
	text-align: left;
}
.intro {
	margin-top: 50px;
	justify-content: space-around;
	display: flex;
	flex-wrap: wrap;
	width: 100%; 
}