/************************************************
navigation 
*************************************************/
.navigation {
	border-radius: 5px; 
	background-color: #f8f8f8;
	border: 1px solid #e7e7e7;
}
.navigation, .left, .right {
	display: flex;
	list-style: none;
	margin: 0;
	padding: 0px;
	width: 100%;
}
.left li:nth-child(1) {
	border-radius: 5px 0px 0px 5px;
}
.left li:nth-child(1) a:hover {
	border-radius: 5px 0px 0px 5px;
}
.navigation a {
	display: block;
	color: #777777;
	text-decoration: none;
}
.navigation a:hover {
	color: #585858;
}

.left {
	float: left;
	justify-content: flex-start;
}
.left a {
	width: 100px;
	text-align: center;
}
.left-list {
	border-right: 1px solid #e7e7e7;
	height: 55px;
	line-height: 55px;
}
.right {
	float: right;
	justify-content: flex-end;
	align-items: center;
}
.right a {
	width: 50px; 
	text-align: center;
}
.right-list {
	padding-top: 12px;
	height: 55px;
	line-height: 55px; 
}
.right li:nth-last-child(1) a:hover {
	border-radius: 0px 5px 5px 0px;
}

@media all and (max-width: 740px){ 
	.left {
		flex-flow: column nowrap;
	}
	.left a {
		width: 100%;
		border-bottom: 1px solid #e7e7e7;
	}
	.right {
		flex-flow: column nowrap;
		border-bottom: 1px solid #e7e7e7;
	}
	.right a {
		width: 100%;
	}
}

.active {
	background-color: #e7e7e7; 
	border-radius: 0px 5px 0px px;
}
.fa-github-square {
	color: black;
}
.fa-facebook-official {
    color: #3b5998
}
.fa-instagram {
    color: #517fa4;
}
.fa-twitter-square {
    color: #00aced
}
.fa-linkedin-square {
    color: #007bb6
}
