@import "compass/css3"

body{
	margin: 0px; padding: 0px;
}
h2 {
	margin: 0px; 
}
.flex-container {
	max-width: 970px; 
	margin: 0px auto;

	display: -webkit-flex; 
	display: flex;
	-webkit-flex-flow: row wrap;
	flex-flow: row wrap; 
	justify-content: center;
}
/* navigation */
.navigation, .left, .right {
	background-color: lightgray;
	display: flex;
	list-style: none;
	margin: 0;
	padding: 0px;
	width: 100%;
}

.left {
	float: left;
	justify-content: flex-start;
}
.left a {
	/*height: 45px;*/
	width: 90px;
	/*margin: 15px 0px 15px 0px; */
	text-align: center;
}
.left-borderline {
	border-right: 1px solid red;
	height: 50px;
	line-height: 50px;
	/*margin: auto 0px auto 0px;*/
}
.right {
	float: right;
	justify-content: flex-end;
}
.right a {
	/*border-left: 1px solid red;*/
	height: 45px; 
	width: 70px; 
	text-align: center;
}
.navigation a {
	display: block;
	background-color: lightblue;
	color: black;
	padding: 15px;
	text-decoration: none;
	padding: 0px;
}
.navigation a:hover {
	color: red;
}
/*@media all and (min-width: 900px){ 
	.left {
		justify-content: flex-end;
	}
	.right {
		justify-content: flex-start;
	}
}*/

/**/
.intro {
	width: 100%;
	padding: 20px;
	text-align: center;
	background-color: violet;
}
.intro h2 {
	align-items: center;
}
.projects {
	margin: 20px; 
	height: 230px; 
	width: 360px; 
	justify-content: space-around;
}



