body{
	margin: 0px; padding: 0px;
}
.wrapper {
	max-width: 970px; 
	margin: 0px auto;
	background-color: coral; 
}

.flex-container {
	display: -webkit-flex; 
	display: flex;
	-webkit-flex-flow: row wrap;
	flex-flow: row wrap; 
	justify-content: center;
}
.title {
	height: 150px;
	width: 970px;
	background-color: violet;
}
.project-box {
	background-color: lightgreen; 
	margin: 20px; 
	height: 230px; 
	width: 360px; 
	justify-content: space-around;
}

@media screen and (max-width: 600px){ 
	.flex-container {
		display: -webkit-flex;
		-webkit-flex-flow: row wrap;
		display: flex;
		flex-flow: column wrap;
	}
}
.row1 {
	/*margin-left: 500px;*/
}
.item1 { 
	/*align-self: flex-start;*/
}
.item2 {
	/*align-self: flex-end;*/
}
.item3 {
	
}
.item3 {
	
}
.footer {
	background-color: violet;
	width: 970px; 
	height: 150px;
}

