
img:hover {
    /*box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);*/
}
img {
	margin-top: 15px;
	border: 1px solid black;
}

.intro {
	width: 100%;
	padding: 20px;
	text-align: center;
}
.projects {
	justify-content: space-around;
	display: flex;
	flex-flow: row wrap;
	width: 980px; 
}

