body {
	margin: 0px; 
	padding: 0px;
	font-family: 'Open Sans', sans-serif; 
}
div {
	/*border: solid 1px red;*/
}
.container {
	/*max-width: 800px;*/
	margin: 0 auto;
}

/* ------- Navigation Bar ---------- */

.navbar {
	background-color: #f8f8f8;
	border: 1px solid #e7e7e7;
	list-style-type: none; 
	padding: 0px; 
	margin: 10px 0px 0px 0px; 
	position: fixed;
	border-radius: 5px;
	width: 100%; 
}
.navbar, .left {
	float: left;
	border-right: 1px solid #e7e7e7; 
}
.navbar li a {
	display: block;
	color: #777777;
	padding: 18px 15px 18px 15px; 
	text-decoration: none;
	text-align: center;
	width: 80px;
}
.navbar li a:hover {
	color: #888888; 
}
.active {
	background-color: #e7e7e7; 
}
.right {
	border-left: 1px solid #e7e7e7;
	float: right;
}

@media screen and (max-width: 600px){
    .left {
    	float: none;
    	border-bottom: 1px solid #e7e7e7;
    	border-right: none;
    }
    .navbar, .right {
    	float: none;
    	border-bottom: 1px solid #e7e7e7;
    }
    .navbar li a {
    	width: 100%;
    }
}

.dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 0px 0px;
    text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
    /*background-color: red;*/
}

li.dropdown {
    display: inline-block;
}
.width {
	width: 250
}

.dropdown-content {
    display: none;
    position: absolute;
    border: 1px solid #e7e7e7;
    /*width: 200px; */
    /*min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;*/
}

.dropdown-content a {
/*	padding: 0px; 
	margin: 0px; */
	/*display: block;*/
	/*width: 100%;*/
    /*color: black;
    padding: 12px 16px;*/
    t/*ext-decoration: none;
    display: block;
    text-align: left;*/
}

/*.dropdown-content a:hover {background-color: #f1f1f1}*/

.dropdown:hover .dropdown-content {
    display: block;
 }
/*---------- Contact Page -----------*/
.map {
	float: left;
	margin-left: 30px;
}
/*Contact Page - form */
input[type=text], textarea {
	padding: 12px; 
	/*border: solid 1px gray; */
	border-radius: 4px; 
	margin-top: 6px;
	margin-bottom: 16px; 
	resize: vertical
}
input[type=submit] {
	background: #555;
	color: white; 
	padding: 12px 20px; 
	border: none;
	border-radius: 4px; 
	cursor: pointer;
}

input[type=submit]:hover {
	background-color: gray;
}

.contact-form {
	/*width: 300px; */
	background-color: #f2f2f2;
	float: right;
	border-radius: 5px; 
	/*text-align: center;*/
	padding: 12px 30px 12px 30px; 
	margin-right: 30px
}

/*Contact page email */
.email-area {
	background-color: #f2f2f2;
	padding: 8px; 
	border-radius: 4px;
	margin: 0px 30px 30px 30px; 
}

.