body {
	margin: 0px; 
	padding: 0px;
	font-family: 'Open Sans', sans-serif; 
}
div {
	border: solid 1px red;
}
.container {
	/*max-width: 800px;*/
	margin: 0 auto;
}

/* ------- Navigation Bar ---------- */

.navbar {
	background-color: #f8f8f8;
	border: 1px solid #e7e7e7;
	list-style-type: none; 
	padding: 0px; 
	margin: 10px 0px 0px 0px; 
	position: fixed;
	border-radius: 5px;
	width: 100%; 
}
.navbar, .left {
	float: left;
}
.navbar li a {
	display: block;
	color: #777777;
	padding: 15px; 
	text-decoration: none;
	text-align: center;
}
.navbar li a:hover {
	color: #888888; 
}
.active {
	background-color: #e7e7e7; 
}
.right {
	float: right;
}

@media screen and (max-width: 600px){
    .navbar, .left {
    	float: none;
    	border-bottom: 1px solid #e7e7e7;
    }
    .navbar, .right {
    	float: none;
    	border-bottom: 1px solid #e7e7e7;
    }
}

.dropdown {
	list-style-type: none;
	margin: 30px;
	position: absolute;
	/*display: none;*/
	background-color: red;
}
.dropdown ul {
		border: 1px solid block;
}

/*---------- Contact Page -----------*/
.map {
	float: left;
	margin-left: 30px;
}
/*Contact Page - form */
input[type=text], textarea {
	padding: 12px; 
	/*border: solid 1px gray; */
	border-radius: 4px; 
	margin-top: 6px;
	margin-bottom: 16px; 
	resize: vertical
}
input[type=submit] {
	background: #555;
	color: white; 
	padding: 12px 20px; 
	border: none;
	border-radius: 4px; 
	cursor: pointer;
}

input[type=submit]:hover {
	background-color: gray;
}

.contact-form {
	/*width: 300px; */
	background-color: #f2f2f2;
	float: right;
	border-radius: 5px; 
	/*text-align: center;*/
	padding: 12px 30px 12px 30px; 
	margin-right: 30px
}

/*Contact page email */
.email-area {
	background-color: #f2f2f2;
	padding: 8px; 
	border-radius: 4px;
	margin: 0px 30px 30px 30px; 
}

.