
.container-1, div {
		border: 1px solid black;
		text-align: center;
}

.nav {
	border: 1px solid black;
}
.footer {
	border: 1px solid black;
}

.box-1 {
	background-color: red;
	flex: 1;
}
.box-2 {
	flex: 1; 
}
/*.container-1 > *{
	flex: 1 100%;
}*/

@media(min-width: 1000px) {
	.container-1{
	display: flex;
	justify-content: space-around;
}

}