$primary-blue: #2c3e50;
$secondary-blue: #34495e;
$dark-gray: #7f8c8d;
/*$secondary-gray: #95a5a6;*/
$light-gray: #ecf0f1;

* { margin: 0; padding: 0; }

body {
	font-family: 'Source Sans Pro', sans-serif;
}
nav {
	width: 100%; 
	background-color: $primary-blue;
/*	.navigation-wrapper {
		width: 1000px;
		margin: 0 auto;*/
		ul {
		background-color: $primary-blue; 
		list-style-type: none;
		width: 100%; 
		overflow: hidden;
			li {
				float: left;
				a {
					color: white; 
					display: block;
					font-size: 1.2em;
					line-height: 3em;
					width: 6em;
					height: 3em; 
					text-align: center;
					text-decoration: none;
				}	
				a:hover:not(.active) {
					background-color: $secondary-blue;
				}
				a.active {
					background-color: $dark-gray;
				}
			}
			@media screen and (max-width: 600px) {
				li {
					float: none;
					a {
						width: 100%;
					}
				}
			}
		}
	/*}*/
}
.flex-container {
	display: flex;
	flex-flow: row wrap;
	.introduction {
		display: flex;
		flex-flow: row wrap;
		justify-content: space-around;
		height: 100%;
		margin: 20px auto;
		width: 1000px; 
		padding: 20px;
		.content {
			order: 2;
			font-size: 1.2em;
			width: 100%;
			h2 {
				margin-bottom: 10px;
			}
		}
		.my-image {
			order: 1;
			img {
				border-radius: 50%; 
			}
		}
	}
	.projects-wrapper {
		width: 100%; 
		background-color: $light-gray;
		.projects {
			display: flex;
			flex-flow: row wrap;
			justify-content: space-around;
			width: 1000px; 
			border: 1px solid red; 
			height: 60em;
			margin: 0 auto;
			.project {
				/* entire container, keeps perspective */
.flip-container {
	perspective: 1000px;
}
	/* flip the pane when hovered */
	.flip-container:hover .flipper, .flip-container.hover .flipper {
		transform: rotateY(180deg);
	}

.flip-container, .front, .back {
	width: 320px;
	height: 480px;
}

/* flip speed goes here */
.flipper {
	transition: 0.6s;
	transform-style: preserve-3d;

	position: relative;
}

/* hide back of pane during swap */
.front, .back {
	backface-visibility: hidden;

	position: absolute;
	top: 0;
	left: 0;
}

/* front pane, placed above back */
.front {
	z-index: 2;
	/* for firefox 31 */
	transform: rotateY(0deg);
	background-color: red;
}

/* back, initially hidden pane */
.back {
	transform: rotateY(180deg);
	background-color: blue;
} 
			}
		}
	}
	.contact {
		border: 1px solid blue;
		height: 60em;
	}
}

