* {
  margin: 0;
  padding: 0; }

body {
  position: relative;
  /*padding-top: 70px; */
  overflow-y: scroll; }

nav {
  font-size: 1.2em; }

#projects {
  width: 100%;
  border-top: 25px solid #ecf0f1;
  border-bottom: 26px solid white; }

#content {
  width: 100%;
  border-top: 25px solid white;
  border-bottom: 26px solid #ecf0f1; }

.flex-container {
  display: flex;
  flex-flow: row wrap;
  background-color: #ecf0f1; }
  .flex-container .introduction {
    background-color: #ecf0f1;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    height: 100%;
    margin: 0 auto;
    width: 1000px;
    padding-top: 80px; }
    .flex-container .introduction .content {
      order: 2;
      font-size: 1.2em;
      width: 100%; }
      .flex-container .introduction .content h2 {
        margin-bottom: 10px; }
    .flex-container .introduction .my-image {
      order: 1; }
      .flex-container .introduction .my-image img {
        margin-top: 25px;
        border-radius: 50%; }
  .flex-container .projects-wrapper {
    width: 100%;
    background-color: white;
    padding: 0px 20px 0px 20px;
    text-align: center; }
    .flex-container .projects-wrapper h1 {
      text-align: center; }
    .flex-container .projects-wrapper .projects {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-around;
      width: 100%;
      padding: 20px 375px;
      height: auto;
      margin: 0 auto; }
      .flex-container .projects-wrapper .projects .project {
        /* entire container, keeps perspective */
        /* flip the pane when hovered */
        /* flip speed goes here */
        /* hide back of pane during swap */
        /* front pane, placed above back */
        /* back, initially hidden pane */ }
        .flex-container .projects-wrapper .projects .project i {
          color: #e74c3c; }
        .flex-container .projects-wrapper .projects .project .flip-container {
          perspective: 1000px; }
        .flex-container .projects-wrapper .projects .project .flip-container:hover .flipper, .flex-container .projects-wrapper .projects .project .flip-container.hover .flipper {
          transform: rotateY(180deg); }
        .flex-container .projects-wrapper .projects .project .flip-container, .flex-container .projects-wrapper .projects .project .front, .flex-container .projects-wrapper .projects .project .back {
          width: 400px;
          height: 280px; }
        .flex-container .projects-wrapper .projects .project .flipper {
          transition: 0.6s;
          transform-style: preserve-3d;
          position: relative; }
        .flex-container .projects-wrapper .projects .project .front, .flex-container .projects-wrapper .projects .project .back {
          backface-visibility: hidden;
          position: absolute;
          top: 0;
          left: 0; }
          .flex-container .projects-wrapper .projects .project .front img, .flex-container .projects-wrapper .projects .project .back img {
            border: 1px solid #2c3e50; }
        .flex-container .projects-wrapper .projects .project .front {
          z-index: 2;
          /* for firefox 31 */
          transform: rotateY(0deg);
          /*border-radius: 5px;*/ }
        .flex-container .projects-wrapper .projects .project .back {
          transform: rotateY(180deg);
          color: white;
          background-color: #2c3e50;
          /*text-align: center;*/ }
          .flex-container .projects-wrapper .projects .project .back button {
            border: none; }
          .flex-container .projects-wrapper .projects .project .back button:hover {
            background-color: #27ae60;
            transition-duration: 0.4s; }
          .flex-container .projects-wrapper .projects .project .back .goLive {
            background-color: #ecf0f1;
            width: 250px;
            height: 75px;
            margin: 10px;
            border-radius: 5px; }
            .flex-container .projects-wrapper .projects .project .back .goLive img {
              border: none; }

.contact {
  height: 1000px;
  width: 100%;
  padding: 0 20px 0 20px;
  background-color: #ecf0f1; }
  .contact h1 {
    text-align: center;
    margin-bottom: 30px; }
  .contact .btn-blue {
    background-color: #2c3e50;
    color: white; }
  .contact small {
    color: #e74c3c; }

/*# sourceMappingURL=newStyle.css.map */
