$primary-blue: #2c3e50;
$secondary-blue: #34495e;
$dark-gray: #7f8c8d;
/*$secondary-gray: #95a5a6;*/
$light-gray: #ecf0f1;

* { margin: 0; padding: 0; }

body {
	font-family: 'Source Sans Pro', sans-serif;
}

nav {
	width: 100%; 
	background-color: $primary-blue;
	.navigation-wrapper {
		width: 1000px;
		margin: 0 auto;
		ul {
		background-color: $primary-blue; 
		list-style-type: none;
		width: 100%; 
		overflow: hidden;
			li {
				float: left;
				a {
					color: white; 
					display: block;
					font-size: 1.2em;
					line-height: 3em;
					width: 6em;
					height: 3em; 
					text-align: center;
					text-decoration: none;
				}	
				a:hover:not(.active) {
					background-color: $secondary-blue;
				}
				a.active {
					background-color: $dark-gray;
				}
			}
			@media screen and (max-width: 600px) {
				li {
					float: none;
					a {
						width: 100%;
					}
				}
			}
		}
	}
}
.flex-container {
	display: flex;
	flex-flow: row wrap;

	.introduction {
		display: flex;
		flex-flow: row wrap;
		justify-content: space-around;
		height: 100%;
		margin: 0 auto;
		width: 1000px; 
		padding: 15px;
		.content {
			order: 2;
			font-size: 1.2em;
			width: 100%;
			h2 {
				margin-bottom: 15px;
			}

		}
		.my-image {
			order: 1;
			img {
				border-radius: 50%; 
			}
		}
	}
	.projects-wrapper {
		width: 100%; 
		background-color: $light-gray;
		.projects {
			background-color: $light-gray;
			height: 60em;
		}
	}
	.contact {
		border: 1px solid blue;
		height: 60em;
	}
}

