/*$secondary-gray: #95a5a6;*/
/** { margin: 0; padding: 0; }*/
body {
  padding-top: 70px;
  overflow: scroll; }

/*nav {
	width: 100%; 
	background-color: $primary-blue;
		ul {
		background-color: $primary-blue; 
		list-style-type: none;
		width: 100%; 
		overflow: hidden;
			li {
				float: left;
				a {
					color: white; 
					display: block;
					font-size: 1.2em;
					line-height: 3em;
					width: 6em;
					height: 3em; 
					text-align: center;
					text-decoration: none;
				}	
				a:hover:not(.active) {
					background-color: $secondary-blue;
				}
				a.active {
					background-color: $dark-gray;
				}
			}
			@media screen and (max-width: 600px) {
				li {
					float: none;
					a {
						width: 100%;
					}
				}
			}
		}
}*/
#content {
  height: 50px;
  z-index: -1;
  background-color: #ecf0f1; }

.flex-container {
  display: flex;
  flex-flow: row wrap; }
  .flex-container .introduction {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    height: 100%;
    margin: 20px auto;
    width: 1000px;
    padding: 20px; }
    .flex-container .introduction .content {
      order: 2;
      font-size: 1.2em;
      width: 100%; }
      .flex-container .introduction .content h2 {
        margin-bottom: 10px; }
    .flex-container .introduction .my-image {
      order: 1; }
      .flex-container .introduction .my-image img {
        border-radius: 50%; }
  .flex-container .projects-wrapper {
    width: 100%;
    background-color: #ecf0f1;
    padding: 20px 20px 0px 20px; }
    .flex-container .projects-wrapper h1 {
      text-align: center; }
    .flex-container .projects-wrapper .projects {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-around;
      width: 1000px;
      padding: 20px;
      height: auto;
      margin: 0 auto; }
      .flex-container .projects-wrapper .projects .project {
        /* entire container, keeps perspective */
        /* flip the pane when hovered */
        /* flip speed goes here */
        /* hide back of pane during swap */
        /* front pane, placed above back */
        /* back, initially hidden pane */ }
        .flex-container .projects-wrapper .projects .project .flip-container {
          perspective: 1000px; }
        .flex-container .projects-wrapper .projects .project .flip-container:hover .flipper, .flex-container .projects-wrapper .projects .project .flip-container.hover .flipper {
          transform: rotateY(180deg); }
        .flex-container .projects-wrapper .projects .project .flip-container, .flex-container .projects-wrapper .projects .project .front, .flex-container .projects-wrapper .projects .project .back {
          width: 400px;
          height: 280px; }
        .flex-container .projects-wrapper .projects .project .flipper {
          transition: 0.6s;
          transform-style: preserve-3d;
          position: relative; }
        .flex-container .projects-wrapper .projects .project .front, .flex-container .projects-wrapper .projects .project .back {
          backface-visibility: hidden;
          position: absolute;
          top: 0;
          left: 0; }
          .flex-container .projects-wrapper .projects .project .front img, .flex-container .projects-wrapper .projects .project .back img {
            border: 1px solid #2c3e50; }
        .flex-container .projects-wrapper .projects .project .front {
          z-index: 2;
          /* for firefox 31 */
          transform: rotateY(0deg);
          background-color: red; }
        .flex-container .projects-wrapper .projects .project .back {
          transform: rotateY(180deg);
          background-color: blue; }

.contact {
  height: 1000px; }
  .contact h1 {
    text-align: center; }

/*# sourceMappingURL=newStyle.css.map */
