body {
	margin: 0;
	padding: 0;
	background-color: lightblue; 
}
div {
	padding: 2px;
	margin: 2px;
	border: 1px solid red; 
}
h2 {
	display: block;
    font-size: 2em;
    margin-top: 0.67em;
    margin-bottom: 0.67em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}
.container {
	width: 1200px; 
	height: 600px; 
	text-align: center;
	position: fixed;
	top: 50%; 
	left: 50%; 
	margin-top: -300px; 
	margin-left: -600px; 
}
/*.game-wapper {
	display: inline-block;
}*/
.dice {
	display: block;
	margin: auto;
	width: 100px;
	height: 100px;
	
}
.roll-dice {
	display: block;
	margin: auto;
}
.player-0-panel {
	float: left;
	height: 450px; 
	width: 400px; 
	margin: auto;
	display: block;
	position: relative;
}
.player-1-panel {
	float: left;
	height: 450px; 
	width: 400px; 
	margin: auto;
	display: block;
	position: relative;
}
.dice-panel {
	float: left;
	height: 450px; 
	width: 200px;
	margin: auto;
	display: block;
}
/*.players-info {
	text-align: center; 
	margin: 5px auto;
	background: black;
}*/
.dice-position {
	margin-top: 125px; 
}

#score-0 {
	height: 200px;
	font-size: 500%; 
}

#score-1 {
	height: 200px;
	font-size: 500%; 
}
.current-0 {
	height: 100px; 
	font-size: 250%;
}
.current-1 {
	height: 100px; 
	font-size: 250%;
}

.row {
	text-align: center;
	clear: left;
}